.service-postings-container {
    border-radius: 8px;
    background-color: hsl(0, 1%, 14%);
    width: 90%;
    height:60vh;
    margin: 0 auto;
    overflow-y: auto;
    scrollbar-width: none; /* For Firefox */
  }
  
  .service-postings-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  
  .service-postings-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }
